html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  // Для використання другого шрифту пишемо -
  // font-family: 'Seymour One', sans-serif;

  // background-image
  background-repeat: repeat;
  background-attachment: fixed;
  //mobile
  @include media('phone', max) {
    background-image: url(./../images/backgroud_image/backgroud_m@1x.png);
    background-size: 320px 449px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/backgroud_image/backgroud_m@2x.png);
    }
  }
  //tablet
  @include min-max('phone', 'desktop') {
    background-image: url(./../images/backgroud_image/background_t@1x.png);
    background-size: 720px 728px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/backgroud_image/background_t@2x.png);
    }
  }
  //Desktop
  @include media('desktop') {
    background-image: url(./../images/backgroud_image/backgroud_d@1x.png);
    background-size: 1200px 1248px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/backgroud_image/backgroud_d@2x.png);
    }
  }
}

// Контейнер
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 480px;

  @include media('tablet') {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }

  @include media('desktop') {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }
}

// Загальний клас для скритих блоків
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
