body {
  font-family: 'Montserrat', sans-serif;
  // Для використання другого шрифту пишемо -
  // font-family: 'Seymour One', sans-serif;

  scroll-behavior: smooth;
  
  
}

// Контейнер
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 480px;

  @include media('tablet') {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }

  @include media('desktop') {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }

   //Desktop
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/backgroud__Image/Backgroud_desktop1x.png);
  }
  //mobile
  @media screen and (min-width: 481px) {
    background-image: url(../../images/backgroud__Image/Backgroud_mobile1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/backgroud__Image/Backgroud_mobile2x.png);
    }
  }
   //tablet
  @media screen and (min-width: 769px) {
    background-image: url(../../images/backgroud__Image/Background_tablet1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/backgroud__Image/Background_tablet2x.png);
    }
  }

}

// Загальний клас для скритих блоків
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
