<div class="backdrop is-hidden" data-mod-about>
  <div class="mod-about container">
    <button
      class="mod-about__button"
      aria-label="close the window with the video"
      type="button"
      data-mod-about-close
    >
      <svg class="mod-about__icon" width="20" height="20">
        <use href="./images/icons/icons.svg#icon_close"></use>
      </svg>
    </button>
    <h3 class="mod-about__title">How it’s made?</h3>
    <iframe
      class="mod-about__iframe"
      width="448"
      height="205"
      src="https://www.youtube.com/embed/gwZIOvSSWMU"
      title="Фабрика морозива"
      style="border: 0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="mod-about__desc">
      This is the whole world, in which the crunchy oven is prepared, the bright
      glaze and the most recent ice cream. And the beast still sips with savory
      pots!
    </p>
  </div>
</div>
