    <div class="modal-header is-hidden" data-modal>
<button type="button" class="modal-batton phons" aria-label="modal-btna" data-modal-close ><svg class="modal-svg" width="11px" height="11px">
    <use href="./images/header/SVG/header_svg.svg#icon-product_card_close"></use></svg></button> 
<button type="button" class="modal-batton tablet" aria-label="modal-btna" data-mod-close><svg class="modal-svg" width="11px" height="11px">
    <use href="./images/header/SVG/header_svg.svg#icon-product_card_close"></use>
</svg></button> 
<div class="modal__main">
<p class="form-titel" id="contact-details-modal">Buy now</p>
<div class="modal__ice ">
        <ul class="modal__headerlist list">
            <li class="modal__iceli green-li">
                <img class="modal__headerimg" srcset="./images/header/prodact_card/kelsey-curtis.png 1x, ./images/header/prodact_card/kelsey-curtis@2x.png 2x"
                src="./images/header/prodact_card/kelsey-curtis.png" 
                alt="coding" width="132" height="132">
                <p class="sample__works">ICE CREAM</p>
            </li>
            <li class="modal__iceli yellow-li">
                <img class="modal__headerimg" srcset="./images/header/prodact_card/pariwat-pannium.png 1x, ./images/header/prodact_card/pariwat-pannium@2x.png 2x"
                src="./images/header/prodact_card/pariwat-pannium.png" alt="mobile_programms" width="132" height="132">
                    <p class="sample__works">ICE COFFEE</p>
            </li>
            <li class="modal__iceli grey-li">
                <img class="modal__headerimg" srcset="./images/header/prodact_card/victor-rutka.png 1x, ./images/header/prodact_card/victor-rutka@2x.png 2x"
                src="./images/header/prodact_card/victor-rutka.png" 
                alt="designe" width="132" height="132">
                <p class="sample__works">MILKSHAKE</p>
            </li>
        </ul>
    </div>
    <form class="form-first js-speaker-form">
        <div class="form" role="group" aria-labelledby="contact-details-modal">    
        </div>        
        <div class="form-first-one">
            <label class="form-first-mater" for="username"></label>
            <input class="form-imput" placeholder="Name" type="text" name="username" id="username"> 
        </div>  
            <div class="form-second form-first-one">
                <label class="form-first-mater" for="telephone"></label>
              <input class="form-imput" placeholder="Phone" type="tel" name="telephone" id="telephone">           
            </div>
            <label class="form-first-mater" for="feedback"></label>
                <textarea class="form-first-text" id="feedback" name="feedback" rows="3" placeholder="Comment"></textarea>
         <button class="form-button" type="submit">Submit</button>
    </form>
</div>
</div>

