<div class="backdrop is-hidden" data-modal>
  <div class="modal" data-modal-window>
    <button class="modal__btn" data-modal-close>
      <svg width="13.33" height="13.37">
        <use
          class="modal__icon"
          href="./images/icons/modal-location.svg#icon-clarity_close-line"
        ></use>
      </svg>
    </button>

    <strong class="modal__label">Our Locations</strong>

    <img
      srcset="
        ./images/modal-location/modal-location-md-sm@1x.jpg 224w,
        ./images/modal-location/modal-location-md-sm@2x.jpg 448w,
        ./images/modal-location/modal-location-lg@1x.jpg    448w,
        ./images/modal-location/modal-location-lg@2x.jpg    896w
      "
      src="./images/modal-location/modal-location-md-sm@1x.jpg"
      sizes="(min-width: 1200px) 448px, (min-width: 768px) 448px, (min-width: 480px) 224px, 100vw"
      alt="map"
      min-width="224px"
      class="modal__img"
    />

    <a
      href="https://goo.gl/maps/kfap5ZEkbQdWX6Vp9"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="modal__link"
      >Open map</a
    >
  </div>
</div>
