<div class="backdrop is-hidden" data-modal-franchise>
  <div class="franchise modal-franchise">
    <button
      class="modal__btn"
      aria-label="close franchise information"
      data-modal-franchise-close
    >
      <svg class="modal-franchise__icon" width="24" height="24">
        <use
          href="./images/icons/modal-franchise.svg#icon-clarity_close-line"
        ></use>
      </svg>
    </button>

    <strong class="franchise__title"
      >Thank you for your interest in owning an Ice Cream shop</strong
    >
    <p class="franchise__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>

    <form class="franchise__form" name="contact_form">
      <div class="franchise__wrap">
        <input
          class="franchise__field"
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          autocomplete="off"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
        />
      </div>
      <div class="franchise__wrap">
        <input
          class="franchise__field"
          type="tel"
          name="tel"
          id="tel"
          placeholder="Phone"
          autocomplete="off"
          pattern="^[ 0-9]+$"
          title="Please enter your phone number."
        />
      </div>
      <div class="franchise__wrap">
        <input
          class="franchise__field"
          type="email"
          name="mail"
          id="mail"
          placeholder="Email"
          autocomplete="off"
          pattern="([\x1F-\xBF]*)@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          title="Please enter your email."
        />
      </div>
      <div class="franchise__textarea">
        <textarea
          class="franchise__comment"
          name="comment"
          id="comment"
          placeholder="Comment"
          rows="3"
          autocomplete="off"
        ></textarea>
      </div>
      <button type="submit" class="button franchise__btn">Submit</button>
    </form>
  </div>
</div>
