<div class="backdrop is-hidden" data-modal>
    <div class="modal" >
<button type="button" class="modal-batton" aria-label="modal-btna" data-modal-close><svg class="modal-svg" width="11px" height="11px">
    <use href="./images/header/SVG/close-modal-btn.svg#icon-close-buttom"></use>
</svg></button>

    <form class="form-first js-speaker-form">
        <div class="form" role="group" aria-labelledby="contact-details-modal">
        <p class="form-titel" id="contact-details-modal">Залиште свої дані, ми вам передзвонимо</p>
        </div>
        
        <div class="form-first-one">
            <label class="form-first-mater" for="username">Ім'я</label>
            <input class="form-imput" type="text" name="username" id="username" placeholder=" ">
            <svg class="form-first-icon" width="18px" height="18px"><use href="./images/header/SVG/close-modal-btn.svg#icon-close-buttom"></use></svg>
            
        </div>
            
            <div class="form-second form-first-one">
                <label class="form-first-mater" for="telephone">Телефон</label>
              <input class="form-imput" type="tel" name="telephone" id="telephone">
              <svg class="form-first-icon" width="18px" height="18px"><use href="./images/header/SVG/close-modal-btn.svg#icon-close-buttom"></use></svg>
            </div>
                            
            <div class="form-therd form-first-one">
                <label class="form-first-mater" for="email">Пошта</label>
                <input class="form-imput" type="email" name="email" id="email">
                <svg class="form-first-icon" width="18px" height="18px"><use href="./images/header/SVG/close-modal-btn.svg#icon-close-buttom"></use></svg>
            </div>
                   
            <label class="form-first-mater" for="feedback">Коментар</label>
                <textarea class="form-first-text" id="feedback" name="feedback" rows="7" placeholder="Введіть текст"></textarea>
              
        
            <div class="contract-agr">
            <input id="contract" class="form-groop-contract" type="checkbox" name="contract">
            <label class="form-text-imp" for="contract">Погоджуюся з розсилкою та приймаю
                <a href=""  class="form-contract-blue">Умови договору</a> 
            </label>
        </div>
        
        <button class="form-button" type="submit">Відправити</button>
    </form>
</div>
</div> 
