<div class="backdrop is-hidden" data-modal-location>
  <div class="modal" data-modal-window>
    <button
      class="modal__btn"
      aria-label="close the map with our locations"
      data-modal-location-close
    >
      <svg width="20" height="20">
        <use
          class="modal__icon"
          href="./images/icons/modal-location.svg#icon-clarity_close-line"
        ></use>
      </svg>
    </button>

    <strong class="modal__label">Our Locations</strong>

    <iframe
      class="modal__iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41388.990819955885!2d34.520534526652845!3d49.58243651902977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1671811143778!5m2!1sen!2sua"
      width="448"
      height="260"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <a
      href="https://goo.gl/maps/PQGxKKrRhRvgoQxh9"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="modal__link"
      >Open map</a
    >
  </div>
</div>
