<!-- <div class="backdrop is-hidden" data-modal>
    <div class="mod-about container">
        <button class="mod-about__button" type="button" data-modal-close>X
            <svg class="mod-about__icon" width="24" height="24">
                <use href="./images/"></use>
            </svg>  
        </button>
        <h3 class="mod-about__title">How it’s made?</h3>
        <video src="./video/">

        </video>
        <p class="mod-about__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</div> -->