<section class="about">
    <div class="about__container container">
        <p class="about__text">tradition and love </p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__img-bottom">
            <img class="about__img"
            src="./images/about_s.png"
            alt="Circle"
          />
        </div>
        <div class="about__img-top">
        <img class="about__img"
        srcset="
        ./images/about_s@1x.jpg 279w,
        ./images/about_m@1x.jpg 330w,
        ./images/about_l@1x.jpg 490w,
        ./images/about_s@2x.jpg 558w,
        ./images/about_m@2x.jpg 660w,
        ./images/about_l@2x.jpg 980w
        "
        sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px, 100vw"
        src="./images/about_s@1x.jpg"
        alt="Cow"
      />
    </div>

        <p class="about__desc-one">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. </p>
        <p class="about__desc-two">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. </p>
        <p class="about__desc-three">This is enough to choose ice cream and coffee for any mood!</p>
        <button class="about__btn" type="button" data-modal-open>Read more
            <svg class="about__icon" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon_arrow"></use>
            </svg>
        </button>
    </div>
    </section>