<!--Підвал сторінки-->
<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrap">
            <div class="footer__wraper">
                <p class="footer__text">homemade ice cream made</p>
                <p class="footer__desc">with passion</p>
            </div>
            <div class="footer__inner">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link link" href="https://www.github.com" target="_blank"
                            rel="noreferrer noopener" aria-label="github">
                            <svg class="footer__icon" width="20" height="20">
                                <use href='./src/images/footer.svg#github'></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link link" href="https://www.telegram.org" target="_blank"
                            rel="noreferrer noopener" aria-label="telegram">
                            <svg class="footer__icon" width="20.4" height="15.87">
                                <use href="./src/images/footer.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link link" href="https://www.facebook.com" target="_blank"
                            rel="noreferrer noopener" aria-label="facebook">
                            <svg class="footer__icon" width="9.35" height="20.4">
                                <use href="./src/images/footer.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__contact">Feel free to contact<a class="footer__tel link" href="tel:+610383766284"> +61
                        (0) 383 766 284</a></p>
            </div>
        </div>
        <hr class="footer__line">
        <p class="footer-copyright">© 2022 - IceCream. All Rights Reserved.</p>

    </div>
</footer>