<section class="products">
  <p class="products__lable">100% natural</p>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <!-- Thumb-circle with image. Image will be loaded as ::after -->
      <div class="products__thumb"></div>

      <h3 class="products__name">ice cream</h3>
      <p class="products__description">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
        stabilizer
      </p>
      <button type="button" aria-label="Open window with ingredients" class="products__btn">
        <svg class="products__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </li>
    <li class="products__item">
      <!-- Thumb-circle with image. Image will be loaded as ::after -->
      <div class="products__thumb"></div>

      <h3 class="products__name">ice coffee</h3>
      <p class="products__description">
        Fragrant invigorating drink created from 100% natural ingredients without the use of
        preservatives and flavor enhancers
      </p>
      <button type="button" aria-label="Open window with ingredients" class="products__btn">
        <svg class="products__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </li>
    <li class="products__item">
      <!-- Thumb-circle with image. Image will be loaded as ::after -->
      <div class="products__thumb"></div>
      
      <h3 class="products__name">milkshakes</h3>
      <p class="products__description">
        Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
        other sweets of your choice
      </p>
      <button type="button" aria-label="Open window with ingredients" class="products__btn">
        <svg class="products__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </li>
  </ul>
</section>