<section class="reviews">
  <h2 class="reviews__title visually-hidden">Reviews</h2>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="customer-reviews__img"
            srcset="
              ./images/reviews/first1x.png 1x,
              ./images/reviews/first2x.png 2x
            "
            src="./images/reviews/first1x.png"
            alt="first"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__thumb">
            <p class="customer-reviews__comment">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__city">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="customer-reviews__img"
            srcset="
              ./images/reviews/second1x.png 1x,
              ./images/reviews/second2x.png 2x
            "
            src="./images/reviews/second1x.png"
            alt="second"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__thumb">
            <p class="customer-reviews__comment">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__city">Bryan, New-York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            class="customer-reviews__img"
            srcset="
              ./images/reviews/third1x.png 1x,
              ./images/reviews/third2x.png 2x
            "
            src="./images/reviews/third1x.png"
            alt="third"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__thumb">
            <p class="customer-reviews__comment">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__city">Diana, Chicago</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
