.advantages {
  padding-bottom: 64px;
  background-color: getColor('main-bg');
}

.advantages__list {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media('tablet') {
    flex-direction: row;
    justify-content: center;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @include media('tablet') {
    flex-basis: calc((100% - 160px) / 3);
    margin: 0 40px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include media('desktop') {
    flex-basis: calc((100% - 64px) / 3);
    margin: 0 16px;
  }
}

.advantages__icon {
  width: 50px;
  height: 50px;
  position: relative;

  background-color: getColor('link-default');
  border-radius: 25px;
}

.advantages__item--cow::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/advantages/cow.png);
}

.advantages__item--weight::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/advantages/weight.png);
}

.advantages__item--ice::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/advantages/ice.png);
}

.advantages__title {
  margin-top: 16px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;

  color: getColor('primary-text');

  @include media('tablet') {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 48px;
  }

  @include media('desktop') {
    margin-top: 40px;
    font-size: 58px;
  }
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: getColor('primary-text');

  @include media('tablet') {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }

  @include media('desktop') {
    font-size: 16px;
    line-height: 1.76;
  }
}
