.hero {
  background-color: getColor('main-bg');

  &__box {
    overflow: hidden;
    position: relative;

    padding-top: 50px;
    padding-bottom: 237px;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="320" height="50" fill="none"%3E%3Cellipse cx="241.993" cy="46.276" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="247.628" cy="42.571" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="254.126" cy="38.403" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="260.195" cy="34.698" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="256.726" cy="44.423" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="262.361" cy="40.718" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="268.86" cy="36.55" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="274.929" cy="32.846" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="269.296" cy="43.034" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="274.93" cy="39.329" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="281.43" cy="35.161" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="287.496" cy="31.457" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="281.428" cy="41.182" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="287.061" cy="37.477" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="293.561" cy="33.309" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="299.629" cy="29.604" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="285.331" cy="46.276" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="290.965" cy="42.571" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="298.765" cy="46.739" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="297.465" cy="38.403" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="305.266" cy="42.571" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="311.334" cy="46.739" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="303.533" cy="34.698" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="311.334" cy="38.865" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="317.401" cy="43.034" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="215.559" cy="15.711" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="221.192" cy="12.006" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="227.694" cy="7.838" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="233.759" cy="4.133" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="204.724" cy="15.247" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="210.357" cy="11.542" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="216.857" cy="7.375" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="222.924" cy="3.67" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="228.992" cy="46.276" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="234.625" cy="42.571" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="241.125" cy="38.403" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="247.193" cy="34.698" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="222.058" cy="43.498" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="227.692" cy="39.793" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="234.192" cy="35.624" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="240.259" cy="31.92" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="224.659" cy="33.772" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="230.292" cy="30.067" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="236.794" cy="25.899" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="242.86" cy="22.194" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="224.659" cy="17.563" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="230.292" cy="13.858" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="236.794" cy="9.69" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="242.86" cy="5.985" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="223.358" cy="26.363" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="228.993" cy="22.657" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="235.492" cy="18.49" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="241.559" cy="14.785" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="196.056" cy="12.932" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="201.691" cy="9.227" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cellipse cx="208.191" cy="5.059" fill="%23F8D24E" rx="2.6" ry="2.779"/%3E%3Cpath fill="%23F8D24E" d="M207.757 15.71c1.436 0 2.601-1.244 2.601-2.778 0-1.535-1.165-2.779-2.601-2.779s-2.6 1.244-2.6 2.779c0 1.534 1.164 2.778 2.6 2.778Z"/%3E%3Cellipse fill="%23F8D24E" rx="2.643" ry="2.816" transform="matrix(.9869 -.16168 .14201 .98991 85.581 33.982)"/%3E%3Cellipse fill="%23F8D24E" rx="2.643" ry="2.816" transform="matrix(.9869 -.16168 .14201 .98991 90.7 29.34)"/%3E%3Cellipse fill="%23F8D24E" rx="2.643" ry="2.816" transform="matrix(.9869 -.16168 .14201 .98991 96.62 24.09)"/%3E%3Cellipse fill="%23F8D24E" rx="2.643" ry="2.816" transform="matrix(.9869 -.16168 .14201 .98991 102.173 19.377)"/%3E%3Cellipse cx="2.72" cy="33.551" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="8.611" cy="29.792" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="15.413" cy="25.562" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="21.758" cy="21.802" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="5.44" cy="40.6" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="11.333" cy="36.841" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="18.134" cy="32.611" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="24.479" cy="28.851" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="12.238" cy="44.36" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="18.132" cy="40.6" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="24.931" cy="36.371" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="31.276" cy="32.611" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="19.943" cy="46.711" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="25.836" cy="42.95" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="32.638" cy="38.721" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="38.981" cy="34.961" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="29.917" cy="47.181" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="35.81" cy="43.421" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="42.61" cy="39.191" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="48.955" cy="35.431" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="41.704" cy="47.18" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="47.596" cy="43.42" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="54.396" cy="39.191" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="60.742" cy="35.431" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="51.674" cy="46.71" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="57.566" cy="42.95" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="64.367" cy="38.721" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="70.712" cy="34.961" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="63.006" cy="46.24" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="68.898" cy="42.48" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="75.699" cy="38.251" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="82.044" cy="34.491" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="73.432" cy="34.021" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="79.324" cy="30.261" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="86.124" cy="26.032" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3Cellipse cx="92.47" cy="22.272" fill="%23F8D24E" rx="2.72" ry="2.82"/%3E%3C/svg%3E');

    @include media('tablet') {
      padding-top: 14px;
      padding-bottom: 24px;

      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="768" height="69" fill="none"%3E%3Cellipse cx="655.854" cy="63.761" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="663.865" cy="58.776" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="673.877" cy="52.795" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="681.888" cy="47.81" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="676.881" cy="61.767" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="684.892" cy="56.783" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="694.905" cy="50.801" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="702.915" cy="45.816" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="694.905" cy="59.773" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="702.915" cy="54.788" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="712.928" cy="48.806" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="720.939" cy="43.822" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="712.928" cy="56.783" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="720.939" cy="51.798" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="730.952" cy="45.816" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="738.962" cy="40.831" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="717.935" cy="63.761" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="725.945" cy="58.776" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="736.96" cy="64.758" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="735.958" cy="52.795" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="746.972" cy="58.776" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="755.984" cy="64.758" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="743.969" cy="47.81" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="755.984" cy="53.792" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="763.995" cy="59.774" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="617.805" cy="21.888" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="625.815" cy="16.903" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="635.828" cy="10.921" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="643.838" cy="5.937" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="601.784" cy="20.891" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="609.794" cy="15.906" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="619.807" cy="9.924" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="627.818" cy="4.94" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="636.829" cy="63.761" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="644.84" cy="58.776" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="654.853" cy="52.795" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="662.863" cy="47.81" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="626.816" cy="60.77" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="634.826" cy="55.785" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="644.84" cy="49.804" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="652.85" cy="44.819" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="630.822" cy="46.813" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="638.832" cy="41.828" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="648.845" cy="35.846" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="656.855" cy="30.861" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="630.822" cy="23.882" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="638.832" cy="18.897" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="648.845" cy="12.915" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="656.855" cy="7.931" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="628.819" cy="36.843" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="636.829" cy="31.858" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="646.842" cy="25.876" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="654.853" cy="20.891" fill="%23F8D24E" rx="4.005" ry="3.988"/%3E%3Cellipse cx="589.267" cy="17.9" fill="%23F8D24E" rx="3.505" ry="3.988"/%3E%3Cellipse cx="597.278" cy="12.915" fill="%23F8D24E" rx="3.505" ry="3.988"/%3E%3Cellipse cx="607.291" cy="6.933" fill="%23F8D24E" rx="3.505" ry="3.988"/%3E%3Cpath fill="%23F8D24E" d="M606.289 21.888c1.936 0 3.505-1.785 3.505-3.988 0-2.202-1.569-3.988-3.505-3.988-1.935 0-3.504 1.786-3.504 3.988 0 2.203 1.569 3.988 3.504 3.988Z"/%3E%3Cellipse cx="4.005" cy="59" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="12.015" cy="54" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="22.029" cy="48" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="30.039" cy="43" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="52.068" cy="61" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="60.078" cy="56" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="70.091" cy="50" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="78.102" cy="45" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="70.592" cy="58" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="78.602" cy="53" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="87.614" cy="48" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="96.626" cy="43" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="106.639" cy="35" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="85.612" cy="39" fill="%23F8D24E" rx="3.505" ry="4"/%3E%3Cellipse cx="34.044" cy="61" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="42.054" cy="56" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="52.068" cy="50" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="60.078" cy="45" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="18.023" cy="60" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="26.034" cy="55" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="36.047" cy="49" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3Cellipse cx="44.057" cy="44" fill="%23F8D24E" rx="4.005" ry="4"/%3E%3C/svg%3E');
    }

    @include media('desktop') {
      padding-top: 45px;
      padding-bottom: 103px;

      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1200" height="384" fill="none"%3E%3Cellipse cx="447.193" cy="32.755" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="459.886" cy="24.429" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="474.532" cy="15.063" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="488.202" cy="6.738" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="428.641" cy="54.608" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="441.335" cy="46.283" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="455.98" cy="36.917" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="469.65" cy="28.592" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="400.325" cy="55.649" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="413.019" cy="47.324" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="427.665" cy="37.958" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="441.335" cy="29.633" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="384.703" cy="79.584" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="397.396" cy="71.259" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="412.042" cy="61.893" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="425.712" cy="53.568" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="372.986" cy="101.438" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="385.679" cy="93.112" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="400.325" cy="83.746" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="413.995" cy="75.421" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 364.208 123.3)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 376.912 114.995)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 391.572 105.652)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 405.253 97.348)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 240.228 160.806)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 253.909 152.502)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 325.151 132.666)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 337.856 124.361)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 352.514 115.018)"/%3E%3Cellipse fill="%23F8D24E" rx="5.858" ry="6.244" transform="matrix(1 .00156 -.00137 1 366.196 106.713)"/%3E%3Cellipse cx="241.171" cy="142.023" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="254.841" cy="133.698" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="273.393" cy="124.332" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="286.086" cy="116.007" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="300.732" cy="106.64" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="314.402" cy="98.315" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="298.779" cy="136.819" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="311.473" cy="128.494" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="326.119" cy="119.129" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="339.789" cy="110.803" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="300.732" cy="120.169" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="313.426" cy="111.844" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="328.072" cy="102.478" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="341.741" cy="94.153" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="247.03" cy="126.413" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="259.723" cy="118.088" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="274.37" cy="108.722" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="288.039" cy="100.397" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="5.858" cy="358.478" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="18.551" cy="350.153" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="33.198" cy="340.787" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="46.867" cy="332.462" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="80.065" cy="361.6" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="92.758" cy="353.275" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="107.404" cy="343.909" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="121.074" cy="335.584" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="110.334" cy="357.438" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="123.027" cy="349.112" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="137.673" cy="339.746" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="151.343" cy="331.421" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="165.989" cy="318.933" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="134.744" cy="326.218" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="1024.25" cy="376.672" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1036.94" cy="368.353" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1051.59" cy="358.995" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1065.26" cy="350.677" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1057.44" cy="372.513" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1070.14" cy="364.194" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1084.78" cy="354.836" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1098.45" cy="346.518" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1085.76" cy="369.393" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1098.45" cy="361.075" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1113.1" cy="351.717" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1126.77" cy="343.398" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1113.1" cy="365.234" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1125.79" cy="356.916" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1140.44" cy="347.557" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1154.11" cy="339.239" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1121.89" cy="376.672" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1134.58" cy="368.353" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1152.16" cy="377.712" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1149.23" cy="358.995" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1166.8" cy="368.353" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1180.47" cy="377.712" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1162.9" cy="350.677" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1180.47" cy="360.035" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1194.14" cy="369.393" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="964.687" cy="308.045" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="977.38" cy="299.727" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="992.026" cy="290.369" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1005.7" cy="282.05" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="940.276" cy="307.005" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="952.97" cy="298.687" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="967.616" cy="289.329" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="981.285" cy="281.01" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="994.956" cy="376.672" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1007.65" cy="368.353" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1022.29" cy="358.995" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1035.96" cy="350.677" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="979.333" cy="370.433" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="992.026" cy="362.115" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1006.67" cy="352.756" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1020.34" cy="344.438" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="985.191" cy="348.597" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="997.885" cy="340.279" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1012.53" cy="330.921" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1026.2" cy="322.602" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse fill="%23F8D24E" rx="5.867" ry="6.23" transform="matrix(.98693 -.16112 .14249 .9898 680.19 303.798)"/%3E%3Cellipse fill="%23F8D24E" rx="5.867" ry="6.23" transform="matrix(.98693 -.16112 .14249 .9898 691.553 293.528)"/%3E%3Cellipse fill="%23F8D24E" rx="5.867" ry="6.23" transform="matrix(.98693 -.16112 .14249 .9898 704.699 281.914)"/%3E%3Cellipse fill="%23F8D24E" rx="5.867" ry="6.23" transform="matrix(.98693 -.16112 .14249 .9898 717.027 271.486)"/%3E%3Cellipse cx="985.191" cy="312.204" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="997.885" cy="303.886" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1012.53" cy="294.528" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1026.2" cy="286.209" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="982.262" cy="331.96" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="994.956" cy="323.642" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1009.6" cy="314.284" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="1023.27" cy="305.965" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="920.749" cy="301.806" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="933.442" cy="293.488" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cellipse cx="948.088" cy="284.13" fill="%23F8D24E" rx="5.858" ry="6.239"/%3E%3Cpath fill="%23F8D24E" d="M947.112 308.045c3.235 0 5.858-2.793 5.858-6.239 0-3.445-2.623-6.239-5.858-6.239-3.236 0-5.859 2.794-5.859 6.239 0 3.446 2.623 6.239 5.859 6.239Z"/%3E%3Cellipse cx="52.726" cy="360.559" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="65.419" cy="352.234" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="80.065" cy="342.868" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="93.735" cy="334.543" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="28.316" cy="359.519" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="41.009" cy="351.193" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="55.655" cy="341.828" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="69.324" cy="333.503" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="447.193" cy="56.69" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="459.886" cy="48.364" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="474.532" cy="38.998" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="488.202" cy="30.673" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="445.24" cy="99.356" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="457.933" cy="91.031" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="472.58" cy="81.665" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="486.249" cy="73.34" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="448.169" cy="77.502" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="460.862" cy="69.177" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="475.509" cy="59.812" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="489.178" cy="51.486" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="446.216" cy="120.169" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="458.91" cy="111.844" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="473.556" cy="102.478" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="487.225" cy="94.153" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="452.075" cy="134.738" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="464.768" cy="126.413" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="479.414" cy="117.047" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="493.084" cy="108.722" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="464.768" cy="146.185" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="477.461" cy="137.86" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="492.107" cy="128.494" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="505.777" cy="120.169" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="481.367" cy="155.551" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="494.06" cy="147.226" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="508.706" cy="137.86" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="522.376" cy="129.535" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="500.895" cy="157.633" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="513.588" cy="149.307" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="528.234" cy="139.942" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="541.904" cy="131.616" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="520.423" cy="161.795" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="533.117" cy="153.47" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="547.763" cy="144.104" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="561.433" cy="135.779" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="515.542" cy="181.568" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="528.234" cy="173.242" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="542.88" cy="163.876" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="556.55" cy="155.551" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="513.588" cy="200.299" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="526.282" cy="191.974" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="540.928" cy="182.608" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="554.597" cy="174.283" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="506.753" cy="224.234" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="519.447" cy="215.909" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="534.093" cy="206.543" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="547.763" cy="198.218" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="503.824" cy="245.047" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="516.517" cy="236.722" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="531.163" cy="227.356" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="544.833" cy="219.031" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="499.918" cy="266.901" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="512.612" cy="258.576" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="527.258" cy="249.21" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="540.928" cy="240.885" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="497.965" cy="284.592" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="510.659" cy="276.267" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="525.305" cy="266.901" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="538.975" cy="258.576" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="496.013" cy="303.324" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="508.707" cy="294.998" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="523.353" cy="285.633" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="537.022" cy="277.307" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="501.871" cy="318.933" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="514.564" cy="310.608" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="529.21" cy="301.242" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="542.88" cy="292.917" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="516.518" cy="327.259" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="529.211" cy="318.933" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="543.857" cy="309.568" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="557.526" cy="301.242" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="533.117" cy="332.462" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="545.81" cy="324.137" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="560.456" cy="314.771" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="574.125" cy="306.446" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="554.597" cy="333.503" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="567.291" cy="325.177" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="581.937" cy="315.811" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="595.606" cy="307.486" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="579.984" cy="333.503" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="592.677" cy="325.177" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="607.323" cy="315.811" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="620.993" cy="307.486" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="601.464" cy="332.462" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="614.157" cy="324.137" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="628.804" cy="314.771" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="642.473" cy="306.446" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="625.875" cy="331.421" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="638.568" cy="323.096" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="653.213" cy="313.73" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="666.883" cy="305.405" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="648.332" cy="304.364" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="661.025" cy="296.039" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="675.671" cy="286.673" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3Cellipse cx="689.341" cy="278.348" fill="%23F8D24E" rx="5.858" ry="6.244"/%3E%3C/svg%3E');
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-wrap__content {
    @include media('tablet', max) {
      display: none;
    }
  }

  &__inner-list {
    display: flex;
    flex-direction: column;

    @include media('tablet') {
      gap: 20px;
    }

    @include media('desktop') {
      gap: 16px;
    }
  }

  &__inner-text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include media('desktop') {
      gap: 1px;

      font-size: 46px;
    }
  }

  &__inner-label {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: getColor('primary-text');

    text-transform: lowercase;

    @include media('desktop') {
      font-size: 14px;
      line-height: 1.21;
    }
  }

  &__title {
    width: 248px;

    padding-bottom: 32px;

    font-family: 'Seymour One';
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('primary-text');

    @include media('tablet') {
      padding-bottom: 24px;
    }

    @include media('desktop') {
      width: 367px;

      padding-bottom: 28px;

      font-size: 38px;
    }

    &--font {
      font-size: 34px;
      line-height: 0.97;

      @include media('desktop') {
        font-size: 38px;
        line-height: 1.26;
      }
    }
  }

  &__list {
    display: flex;
    gap: 12px;
    align-items: center;

    @include media('tablet') {
      margin-bottom: 39px;
    }

    @include media('desktop') {
      margin-bottom: 109px;
    }
  }

  &__anchor {
    padding: 11px 26px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;

    background-color: transparent;
    border: 2px solid getColor('tretiary-text');
    border-radius: 8px;

    @include animated(color, border-color);

    &:hover {
      border: 2px solid getColor('link-hover');
      border-radius: 8px;
    }

    @include media('desktop') {
      padding: 12px 34px;
      font-size: 14px;
      line-height: 1.29;

      border-radius: 10px;

      &:hover {
        border: 2px solid getColor('link-hover');
      }

      &:focus {
        color: getColor('link-focus');
        border: 2px solid getColor('link-hover');
      }
    }

    &--color {
      text-decoration-line: underline;
      background-color: transparent;
      color: getColor('tretiary-text');

      border: none;

      @include animated(color);

      &:hover {
        color: getColor('link-hover');
      }

      &:focus {
        color: getColor('link-focus');
      }

      @include media('desktop') {
        padding: 12px 22px;

        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
        color: getColor('tretiary-text');
      }
    }
  }

  &__picture {
    width: 177px;
    position: absolute;
    bottom: 0%;
    right: 92px;

    @include media('tablet', max) {
      left: 30%;

      transform: translateX(-30%);
    }

    @include media('tablet') {
      width: 268px;

      right: 92px;

      transform: translateX(-92px);
    }

    @include media('desktop') {
      width: 456px;

      right: 92px;

      transform: translateX(-92px);
    }
  }

  &__snowball {
    @include media('tablet', max) {
      display: none;
    }

    @include media('tablet') {
      width: 152px;
      position: absolute;
      left: 32px;
      bottom: 12px;

      transform: translateX(-32px), translateY(-12px);
    }

    @include media('desktop') {
      width: 225px;
      position: absolute;
      left: 16px;
      bottom: 65px;

      transform: translateX(-16px), translateY(-65px);
    }
  }

  &__text {
    @include media('tablet', max) {
      display: none;
    }

    @include media('tablet') {
      margin-bottom: 12px;

      font-size: 12px;
      line-height: 1.42;
      color: getColor('primary-text');
    }

    @include media('desktop') {
      margin-bottom: 24px;

      font-size: 14px;
      line-height: 1.43;
      color: getColor('primary-text');
    }
  }

  &-wrap__text {
    @include media('tablet', max) {
      display: none;
    }

    @include media('tablet') {
      width: 344px;

      padding-left: 204px;
    }

    @include media('desktop') {
      width: 441px;

      padding-left: 241px;
    }
  }

  &__icon {
    display: inline-block;

    color: getColor('primary-text');

    @include animated(color, border-color);

    &:hover {
      color: getColor('link-hover');
    }

    &:focus {
      color: getColor('link-focus');
    }

    &--color {
      fill: currentColor;

      @include media('tablet', max) {
        display: none;
      }
    }
  }
}
