.mod-about {
  position: relative;
  width: 280px;
  height: 459px;
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  overflow-y: auto;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 95vh;
    max-height: 449px;
    padding: 32px 60px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
  }
  &::-webkit-scrollbar-track {
    border: 1px solid getColor('link-default');
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ffefba, #ffffff);
    border: 1px solid #ee508f;
    border-radius: 15px;
  }
}

.mod-about__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  top: 12px;
  right: 12px;

  color: getColor('secondary-text');

  @include animated(color);

  &:hover,
  &focus {
    color: getColor('link-hover');
  }
}

.mod-about__icon {
  fill: currentColor;
}

.mod-about__title {
  display: block;
  margin-bottom: 20px;

  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  align-items: center;

  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.mod-about__iframe {
  width: 224px;
  height: 199px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
  }
}

.mod-about__desc {
  margin-top: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.4;
  }
}

.mod-about__thumb {
  position: relative;
  height: 0;
  overflow: hidden;
}

.mod-about__thumb iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
