.mod-about {
  position: relative;
  width: 280px;
  height: 459px;
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 449px;
    padding: 32px 60px;
  }
}

.mod-about__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  top: 12px;
  right: 12px;
  cursor: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='24' viewBox='0 0 19 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.04696 2.01171L16.9811 12.2169C18.8522 13.9633 17.8177 17.1 15.2748 17.3907L11.1573 17.8612C10.124 17.9793 9.15329 18.4167 8.38025 19.1124L6.0069 21.2484C4.07633 22.9859 1 21.6159 1 19.0186V4.20487C1 1.58174 4.12929 0.221893 6.04696 2.01171Z' stroke='%23131313' stroke-width='2'/%3E%3C/svg%3E"),
    pointer;
}

.mod-about__icon {
  fill: #131313;
}

.mod-about__title {
  display: block;
  margin-bottom: 20px;

  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  align-items: center;

  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.mod-about__iframe {
  width: 224px;
  height: 199px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
  }
}

.mod-about__desc {
  margin-top: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.4;
  }
}

.mod-about__thumb {
  position: relative;
  height: 0;
  overflow: hidden;
}

.mod-about__thumb iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
